{% load static %}
<footer class="page-footer">


  <!-- Footer Links -->
  <div class="container text-center text-md-left pt-3 pt-md-2">

    <!-- Grid row -->
    <div class="row mt-1 mt-md-0 mb-4 mb-md-0">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">

        <!-- Links -->
        <h5>Conectar</h5>
        <hr class="color-primary mb-2 mt-0 d-inline-block mx-auto w-60">
        <ul class="list-inline mb-0 ">
          <li class="list-inline-item"><a class="reset-anchor text-small" href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li class="list-inline-item"><a class="reset-anchor text-small" href="#"><i class="fab fa-twitter"></i></a></li>
          <li class="list-inline-item"><a class="reset-anchor text-small" href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">



      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">

        <!-- Links -->
        <h5>Atajos</h5>
        <hr class="color-primary mb-2 mt-0 d-inline-block mx-auto w-60">

        <ul class="list-unstyled" style="font-size: 14px;">
          <li class="mb-2">
            <a href="#!" class="text-gray-900">FAQ</a>
          </li>
          <li class="mb-2">
            <a href="#!" class="text-gray-900">Contáctanos</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">

        <!-- Links -->
        <h5>Aceptamos</h5>
        <hr class="color-primary mb-2 mt-0 d-inline-block mx-auto w-60">
        <ul class="list-inline mb-0">
          <li class="list-inline-item"><i class="fab fa-cc-paypal fa-2x"></i></li>
          <li class="list-inline-item"><i class="fab fa-cc-visa fa-2x"></i></li>
          <li class="list-inline-item"><i class="fab fa-cc-mastercard fa-2x"></i></li>
        </ul>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="font-size: 14px;">© 2021 Todos los derechos reservados
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->